body {
    font-family: 'Open Sans', sans-serif;
}
#sec1{
    padding: 300px 0!important ;
}
.height{
    min-height: 100vh;
   } 

.title-underline{
    width: 200px;
    height: 10px;
    margin: 0 auto;
    font-weight: bold;
    
    
}   
.height-80{
    min-height: 80vh;
   } 

.about-picture{
    background: url(../img/computer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#filler,#progress{
      
    
    align-items: center;
    justify-content: center;
    padding-top:50% ;
    background: linear-gradient(rgba(0, 0, 0, 0.51),rgba(0, 0, 0, 0.51)), url(../img/computer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    
}